.menuLabel {
    font-size: 14px;
    font-weight: bold;
    color: #f1f1f1;
    padding: 8px 8px 16px;
    display: block;
}

.menuFolder {
}

.menuFolderContent {
    padding-left: 8px;
}

.menuFolderName {
    cursor: default;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
}

.menuFile {
    cursor: default;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
}

.menuFolderName:hover, .menuFile:hover {
    background-color: #595959;
}

.menuFileActive {
    background-color: #424242;
}

.menuInputButton {
    white-space: nowrap;
}

.menuFileButtons {
    display: inline-flex;
    flex-direction: row;
    float: right;
}

.menuFileButton {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.menuFileButton:hover {
    background-color: #fefefe;
    color: #1a1a1a;
}

.menuInput {
    background-color: transparent;
    color: #f1f1f1;
    padding: 8px 50px 8px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 8px;
    border: 1px solid #ffffff14;
    border-radius: 8px;
}

.menuInstallButton {
    transform: translateX(-100%);
    background-color: #388E3C;
    border: none;
    color: #f1f1f1;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 8px;
}

.menuDependencies {
    padding-left: 16px;
}

.menuDependency {
    padding-bottom: 4px;
}

.menuSpinner {
    fill: #f1f1f1;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
