.menuHead {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.menuLabel {
    flex: 1;
}

.menuButton {
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #424242;
}

.menuButton:hover {
    color: #f1f1f1;
    border-radius: 8px;
}

.cacheInfo{
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: auto;
    font-size: 12px;
    color: #f1f1f1;
    margin-bottom: 8px;
}

.cacheInfoLabel {
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
}

.cacheInfoContent {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    height: 40px;
}

.clearCacheButton {
    padding: 4px 8px;
    border: none;
    background: #f1f1f1;
    color: #424242;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

.clearCacheButton:hover {
    background: #e0e0e0;
}
