.menuHead {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.menuLabel {
  flex: 1;
  padding-left: 16px;
}

.menuButton {
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: var(--tree-icon-color);
}

.menuButton:hover {
  color: var(--tree-icon-hover-color);
  border-radius: 8px;
}

.gistInfo {
  padding-left: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.gistLabel {
  font-size: 14px;
  font-weight: bold;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.gistLink {
  font-size: 12px;
  font-weight: normal;
  float: right;
  display: flex;
  align-items: center;
  gap: 8px;
}

.userInfo {
  display: flex;
  align-items: center;
  padding: 8px 0 0;
  font-size: 12px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.gistDescription {
  display: block;
  font-size: 12px;
  color: var(--font-color);
  opacity: 65%;
  padding: 8px 0;
}
