.editorContainer {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.editorHeader {
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.editorLabel {
  font-size: 14px;
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--tag-color);
}

.editorText {
  padding: 0 8px;
  flex: 1;
  height: 100%;
  max-height: calc(100vh - 170px);
  overflow: hidden;
}

.editorPlaceholder {
  font-size: 14px;
  padding: 32px 32px;
}

.editorFooter {
  padding: 16px 16px 0 16px;
  text-align: right;
  height: 50px;
  border-top: 0.5px #ffffff14 solid;
}

.editorLoading {
  margin: 0 16px;
  display: inline-flex;
  vertical-align: middle;
}

.editorLoading svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.installButton {
  background-color: var(--secondary-color);
  border: none;
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: default;
  border-radius: 8px;
}

.installButton:hover {
  background-color: var(--secondary-hover-color);
}

.runButton {
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: default;
  border-radius: 8px;
  margin-left: 8px;
}

.runButton:hover {
  background-color: var(--primary-hover-color);
}

.buttonDisabled {
  background-color: var(--tag-color) !important;
}
