.cacheInfo {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: auto;
  font-size: 12px;
  color: var(--font-color);
  margin-bottom: 8px;
}

.cacheInfoLabel {
  padding: 8px 0;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  color: var(--font-color);
  height: auto;
}

@media (max-width: 860px) {
  .cacheInfoLabel {
    padding: 4px 0 8px;
  }
}

.clearCacheButton {
  margin-left: 16px;
  padding: 4px 8px;
  border: none;
  background: var(--danger-color);
  color: var(--font-color);
  border-radius: 8px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
}

.clearCacheButton:hover {
  background: var(--danger-hover-color);
}

.buttonDisabled {
  background-color: var(--tag-color) !important;
}

.listOfGems {
  overflow-y: scroll;
  max-height: 400px;
  margin: 8px 0;
}

@media (max-width: 860px) {
  .listOfGems {
    max-height: initial;
    overflow-y: initial;
  }
}

.listOfGems ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tooltip {
  padding: 0 8px;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  font-size: 11px;
  background-color: var(--transparent-black-color);
  color: var(--font-color);
  text-align: center;
  padding: 8px;
  border-radius: 4px;

  position: absolute;
  z-index: 1;

  bottom: 20px;
  right: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
