.about {
  font-size: 14px;
  line-height: 1.4;
}

.about p {
  margin: 8px 0 16px;
}

.about code {
  color: var(--code-color);
}

.about a {
  color: var(--code-color);
  text-decoration: none;
  cursor: default;
}

.about a:hover {
  text-decoration: underline;
  cursor: default;
}

.about ul {
  padding: 0;
}

.about ul li {
  margin-bottom: 8px;
}

