.about {
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 1280px) {
  .about {
    font-size: 13px;
  }
}

@media (max-width: 860px) {
  .about {
    font-size: 12px;
  }
}

.about p {
  margin: 8px 0;
}

@media (max-width: 860px) {
  .about p {
    margin: 4px 0;
  }
}

.about code {
  color: var(--code-color);
}

.about a {
  color: var(--code-color);
  text-decoration: none;
  cursor: default;
}

.about a:hover {
  text-decoration: underline;
  cursor: default;
}

.about ul {
  padding: 12px;
}

.about ul li {
  padding-left: 4px;
  margin-bottom: 8px;
}

