.tab {
  padding: 0 16px;
  flex: 1;
  overflow-y: scroll;
  display: none;
}

@media (max-width: 1280px) {
  .tab {
    padding: 0 8px;
  }
}

.activeTab {
  display: block;
}

.switchButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px 16px;
}

@media (max-width: 860px) {
  .switchButtons {
    padding: 4px 4px 8px;
  }
}

.switchButton {
  background-color: var(--content-color);
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: default;
  border: none;
  border-radius: 8px;
}

.switchButton:hover {
  background-color: var(--tag-color);
}

.switchButtonActive {
  background-color: var(--tag-color);
}
