.editorText {
  padding: 0 8px;
  flex: 1;
  overflow-y: scroll;
}

.tab {
  padding: 0 8px 0 32px;
}

.switchButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 16px 8px;
}

.switchButton {
  background-color: var(--content-color);
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: default;
  border: none;
  border-radius: 8px;
}

.switchButton:hover {
  background-color: var(--tag-color);
}

.switchButtonActive {
  background-color: var(--tag-color);
}
