.container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

.header {
  width: 100%;
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menuButton {
  display: none;
  align-items: center;
  font-size: 16px;
  border: none;
  padding: 8px;
  border-radius: 16px;
  margin: 0 0 0 8px;
  color: var(--menu-icon-color);
  background-color: transparent;
}

.menuButton:hover {
  background-color: var(--menu-icon-hover-color);
}

@media (max-width: 1280px) {
  .menuButton {
    display: inline-flex;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
  padding: 8px 16px;
}
