.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    max-width: 300px;
    overflow-x: scroll;
}

.editor {
    grid-area: editor;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #1e1e1e;
    padding: 16px 0px;
    margin: 0 4px;
    height: calc(100vh - 56px); /* 56px is the height of the .header */
    max-height: calc(100vh - 56px); /* 56px is the height of the .header */
}

.output {
    grid-area: output;
    background-color: #1e1e1e;
    border-radius: 16px;
    padding: 16px 8px;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
