.content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: hidden;
  max-width: 100vw;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-color);

  margin: 0;
  padding: 16px 0;
  z-index: 10;
}

@media (max-width: 1280px) {
  .menu {
    width: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
  }

  .menu.menuOpen {
    width: 300px;
    padding: 16px;
    height: calc(100vh - var(--header-height));
  }
}

.menuShadow {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  background-color: var(--transparent-black-color);
  z-index: 1;
}

.editor {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--content-color);
  padding: 16px 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 3;
}

.output {
  background-color: var(--content-color);
  border-radius: 16px;
  padding: 16px 8px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  flex: 2;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .editor {
    padding: 4px 0;
  }

  .output {
    padding: 4px;
  }
}

@media (max-width: 860px) {
  .content {
    flex-direction: column;
    gap: 4px;
  }

  .editor {
    flex: 2;
    padding: 4px 0;
  }

  .output {
    flex: 1;
    padding: 4px;
  }
}
