.nodeContainer,
.nodeContent {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.nodeContent {
  cursor: default;
}

.nodeContent span.arrow {
  width: 20px;
  font-size: 20px;
  display: flex;
}

.fileFolderIcon {
  margin-left: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nodeContent span.nodeText {
  flex: 1;
  font-size: 14px;
}

.nodeContent input[type="text"] {
  padding: 0;
  outline: none;
  color: var(--font-color);
  border-radius: 2px;
  font-size: 14px;
}

.nodeContent input[type="text"] {
  width: 97%;
  border: 1px solid #878787;
  background: transparent;
  height: 22px;
}

.fileActions {
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
}

.fileActions button {
  cursor: default;
}

.folderFileActions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.folderFileActions button {
  display: flex;
  align-items: center;
  color: var(--tree-icon-color);
  background-color: inherit;
  border: none;
  font-size: 14px;
  height: 100%;
  padding: 0 4px;
  margin: 0;
}

.folderFileActions button:hover {
  color: var(--tree-icon-hover-color);
}

.nodeContainer .fileActions .folderFileActions {
  visibility: hidden;
}

.nodeContainer:hover .fileActions .folderFileActions {
  visibility: visible;
}

.nodeContainer.isSelected {
  background: var(--tree-file-active-color);
  color: var(--font-color);
  border-radius: 0;
}

[role="treeitem"]:hover {
  background: var(--tree-file-hover-color);
  color: var(--font-color);
}

[role="treeitem"]:focus-within {
  background-color: var(--tree-file-focus-color);
  outline: none;
}

