.header {
  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  max-height: var(--header-height);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.headerMenuButton {
  display: none;
  align-items: center;
  font-size: 16px;
  border: none;
  padding: 8px;
  border-radius: 16px;
  margin: 0 0 0 8px;
  color: var(--menu-icon-color);
  background-color: transparent;
}

.headerMenuButton:hover {
  background-color: var(--menu-icon-hover-color);
}

@media (max-width: 1280px) {
  .headerMenuButton {
    display: inline-flex;
  }
}

.gistLoading {
  margin: 0 16px;
  display: inline-flex;
  vertical-align: middle;
}

.gistLoading svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 8px;
  flex: none;
  justify-content: center;
}

@media (max-width: 860px) {
  .logoContainer {
    display: none;
  }
}

.logo {
  width: 40px;
  height: 40px;
}

@media (max-width: 1280px) {
  .logo {
    width: 32px;
    height: 32px;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}

@media (max-width: 1280px) {
  .title {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .title {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
  margin: 0 8px 0 auto;
  flex: 1;
  justify-content: flex-end;
}

.link {
  font-size: 16px;
  font-weight: bold;
  color: var(--link-color);
  margin: 8px 16px 8px 0;
  text-decoration: none;
  cursor: default;
}

.link:hover {
  color: var(--link-hover-color);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
  padding-left: 16px;
  flex: 1;
}

@media (max-width: 1280px) {
  .buttons {
    padding-left: 8px;
  }
}

.forkButton {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: default;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.forkButton svg {
  flex: none;
}

.forkButton:hover {
  background-color: var(--secondary-hover-color);
  border: 1px solid var(--secondary-hover-color);
  color: var(--font-color);
}

.saveButton {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: default;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
}

.saveButton svg {
  flex: none;
}

.saveButton:hover {
  background-color: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
  color: var(--font-color);
}

.disabledButton {
  background-color: var(--tag-color) !important;
  border: 1px solid var(--tag-color) !important;
}

.SignInButton {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--font-color);
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: default;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
}

.SignInButton:hover {
  background-color: var(--primary-hover-color);
}

.SignInButton svg {
  flex: none;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  position: relative;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.userMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--tag-color);
  border-radius: 8px;
  padding: 8px 16px;
  z-index: 100;
}

.userMenu.show {
  display: block;
}

.signOutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  border: none;
  padding: 8px;
  border-radius: 16px;
  margin: 0 0 0 8px;
  color: var(--menu-icon-color);
  background-color: transparent;
  white-space: nowrap;
}

.userMenuButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border: none;
  padding: 8px;
  border-radius: 16px;
  margin: 0 0 0 8px;
  color: var(--menu-icon-color);
  background-color: transparent;
}
