* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

body, code, button, input {
  font-family: "Martian Mono", Menlo, Monaco, "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

code {
  white-space: pre-wrap;
  word-break: keep-all;
}
