:root {
  --primary-color: #62c167;
  --primary-hover-color: #79ca7d;
  --secondary-color: #0892f7;
  --secondary-hover-color: #239ef8;
  --danger-color: #c74e6e;
  --danger-hover-color: #c86a86;

  --tag-color: #dadada;

  --tree-file-active-color: #dadada;
  --tree-file-focus-color: #eeeeee;
  --tree-file-hover-color: #e2e2e2;

  --code-color: #F44336;
  --font-color: #212121;
  --content-color: #FFFFFF;
  --bg-color: #F5F5F5;

  --transparent-black-color: rgba(0, 0, 0, 0.75);

  --menu-icon-color: var(--font-color);
  --menu-icon-hover-color: var(--tag-color);

  --tree-icon-color: #a1a1a1;
  --tree-icon-hover-color: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #388E3C;
    --primary-hover-color: #2E7D32;
    --secondary-color: #044b7f;
    --secondary-hover-color: #003d6b;
    --danger-color: #7D2E45;
    --danger-hover-color: #5C1D2E;

    --tag-color: #424242;

    --tree-file-active-color: #343434;
    --tree-file-focus-color: #262728;
    --tree-file-hover-color: #202020;

    --code-color: #f66;
    --font-color: #f1f1f1;
    --content-color: #1e1e1e;
    --bg-color: #1a1a1a;

    --transparent-black-color: rgba(0, 0, 0, 0.75);

    --menu-icon-color: var(--font-color);
    --menu-icon-hover-color: var(--tag-color);

    --tree-icon-color: var(--tag-color);
    --tree-icon-hover-color: var(--font-color);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--content-color);
  color: var(--font-color);
}

body, code, button, input {
  font-family: "Martian Mono", Menlo, Monaco, "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

code {
  white-space: pre-wrap;
  word-break: keep-all;
}
